# Emacs generated
*.elc
lisp/lisp-autoloads.el
*~
\#*\#
.\#*

# Emacs state/cache
auto-save-list/
custom.el
eln-cache/
projects.eld
tramp
transient/
tree-sitter/

# Package managers
straight/
elpa/
eca/
